@model Filmweb.Models.Pomocnicza

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły </h2>

<div>
    <h4>Seriale</h4>
    <hr />
    <img src="~/Obrazki/@Html.DisplayFor(model => model.series.Obrazek) " height="200px" width="200px" />
    <dl class="dl-horizontal">

        <dt>
            Nazwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.series.Name)
        </dd>

        <dt>
            Reżyser
        </dt>

        <dd>
            @Html.DisplayFor(model => model.series.Director)
        </dd>

        <dt>
            Długość w minutach
        </dt>

        <dd>
            @Html.DisplayFor(model => model.series.Length)
        </dd>

        <dt>
            Liczba sezonów
        </dt>

        <dd>
            @Html.DisplayFor(model => model.series.NumberOfSeasons)
        </dd>

        <dt>
            Liczba odcinków
        </dt>

        <dd>
            @Html.DisplayFor(model => model.series.NumberOfEpisode)
        </dd>
        <dd>
            Ocena
        </dd>


        <dd>
            @Html.DisplayFor(model => model.series.Rate)
        </dd>




        <dd>

        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>Recenzje</th>
                </tr>
                @foreach (var item in Model.series.Reviews)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>


                    </tr>
                }
            </table>
        </dd>
    </dl>
    Dodaj recenzje
    <form action="~/Series/Addrecenzje" method="get">

        <input type="text" name="Title" placeholder="super" />
        <input type="text" name="Content" placeholder="Bardzo ładnie jestem pod wrażeniem" />
        <input type="hidden" name="Id" value=@Model.series.ID />
        <input type="submit" value="Dodaj renenzje" />
    </form>
    Dodaj ocene
    <form action="~/Series/Addoceny" method="get">


        <input type="number" name="Rate" value="3" />
        <input type="hidden" name="Id" value=@Model.series.ID />
        <input type="submit" value="Dodaj ocene" />
    </form>
    Dodaj Aktora do filmu
    <form action="~/Series/Addaktora" method="get">
        <select data-val="true" id="Idactor" name="Idactor">
            @foreach (var item in Model.actors)
            {
                <option value=@item.ID>@item.Name @item.Surname</option>

            }

        </select>
        <input type="hidden" name="IdSeries" value=@Model.series.ID />
        <input type="submit" value="Dodaj aktora" />
    </form>


</div>
<p>
    
    @Html.ActionLink("Edycja", "Edit", new { id = Model.series.ID }) |
    @Html.ActionLink("Powrót do listy ", "Index")
</p>
