
@model PagedList.IPagedList<Filmweb.Models.Movie>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Movies";
}


<p>
    @Html.ActionLink("Stwórz nowy ", "Create")
</p>
@using (Html.BeginForm("Index", "Movies", FormMethod.Get))
{
    <p>
       Znajdz po nazwie : @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<ul class="actors">
    

    @foreach (var item in Model)
    {
    <li>

        <a href="@Url.Action("Details"+"/"+item.ID, "Movies")">
            <img class="actor-image" src="~/Obrazki/@item.Obrazek">
            <a />
           
            <div class="a-1">
                @Html.ActionLink("Nazwa", "Index", new { sortOrder = ViewBag.NameSortParm })
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="a-2">
              Reżyser
                @Html.DisplayFor(modelItem => item.Director)
            </div>
            <div class="a-3">
               Długość
                @Html.DisplayFor(modelItem => item.Length)

            </div>


            <div>
                @Html.ActionLink("Edycja", "Edit", new { id = item.ID }) |

                @Html.ActionLink("Usuń", "Delete", new { id = item.ID })

            </div>
</li>
    }

</ul>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
